name: Main Build

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest
    
    steps:

    - name: Checkout Clima
      uses: actions/checkout@v3
      with:
        path: Clima

    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 
          6.x

    - name: Install Java SDK
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version:
          7.0.x

    - name: Install MAUI Workload
      run: dotnet workload install maui --ignore-failed-sources

    - name: Install MAUI Android Workload
      run: dotnet workload install maui-android --ignore-failed-sources
    
    - name: Build Clima
      run: dotnet build -c Release Clima/Source/Meadow.Clima.sln
